.top{
position: absolute;
top:-70px;
left:890px;
}

.bottom{
position: absolute;
top:400px;
left:690px;

}

.right{
position: absolute;
top:190px;
left:200px;
}

.left{
position: absolute;
top:130px;
left:-290px;

}